.health {
  margin: 0%;
  text-align: center;
  padding: 130px;
  background-color: blueviolet;
  color: cornsilk;
}
.doc {
  width: 400px;
  box-sizing: border-box;
  margin: 39px;
}
.health-para {
  padding: 30px 60px 30px 60px;
}
.health-paras {
  padding: 30px 60px 30px 60px;
}
.health-parah {
  padding-left: 60px;
  font-weight: bolder;
}
.lists {
  padding-left: 100px;
}
@media screen and (max-width: 480px) {
  .doc {
    max-width: 100%;
    height: 190px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 90px;
  }
  .health-paras {
    padding: 30px;
  }
  .health-para {
    padding: 0;
    padding-top: 20px;
    font-size: 16px;
  }
  .health-parah {
    padding-left: 0;
    font-weight: bolder;
    padding: 10px;
  }

  .lists {
    padding-left: 0px;
    font-size: 14px;
  }
}
