.OurValue {
  padding: 50px;
  margin-top: 80px;
  text-align: center;
  margin: 50px;
}
.family {
  animation-name: change;
  animation-duration: 1s;
}

.font {
  font-size: 70px;
  margin-left: 150px;
}

.service {
  border: 2px solid black;
  height: 300px;
  box-shadow: lawngreen;
  margin-right: 20px;

  background-color: red;
  color: white;
  margin: 20px;
  align-items: center;
}
.head-topic {
  color: white;
  text-decoration-color: tomato;
  padding: 10px;
  text-align: center;
}
.line {
  margin: auto;
  background-color: white;
  width: 40px;
  height: 3px;
}
.pargraph {
  padding: 5px;
}
@media screen and (max-width: 480px) {
  .OurValue {
    padding: 25px;
    text-align: center;
    margin: 30px;
  }
  .service {
    border: 1px solid black;
    height: 250px;
    background-color: aqua;
    color: white;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0px;
    margin-top: 4px;
  }
  .pargraph {
    padding: 20px;
    font-size: 14px;
  }
  .head-topic {
    color: white;
    text-decoration-color: tomato;
    padding: 5px;
    text-align: center;
  }
}
