body {
  font: 2.3em sans-serif;
}
.about {
  margin: 0%;
  text-align: center;
  padding: 130px;
  background-color: blueviolet;
  color: cornsilk;
}
.picture {
  box-sizing: border-box;
  padding: 100px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
  overflow: hidden;
}
.content {
  padding-left: 50px;
  padding-top: 50px;
}
