body {
  font: 2.3em sans-serif;
}
.about {
  display: flex;
  margin: 0%;
  text-align: center;
  padding: 130px;
  background-color: blueviolet;
  color: cornsilk;
}
.picture {
  padding: 100px;
  border: 1px solid #dee2e6;
  width: 100%;
  border: none;
  overflow: hidden;
}
.tex {
  font-size: 16px;
}
.content {
  padding-left: 50px;
  padding-top: 50px;
}
@media screen and (max-width: 480px) {
  .about {
    display: inline-block;
    margin: 0%;
    text-align: center;
    padding: 130px;
    background-color: blueviolet;
    color: cornsilk;
  }
}
