body {
  font: 2.3em sans-serif;
}
.about {
  margin: 0%;
  text-align: center;
  padding: 130px;
  background-color: blueviolet;
  color: cornsilk;
}
.picture {
  padding: 100px;
  border: 1px solid #dee2e6;
  width: 100%;
  border: none;
  overflow: hidden;
}
.content {
  padding-left: 50px;
  padding-top: 50px;
}
@media screen and (max-width: 480px) {
  .about {
    margin: 0%;
    text-align: center;
    padding: 130px;
    background-color: blueviolet;
    color: cornsilk;
  }

  .tex {
    margin-left: 10px;
    font-size: 14px;
  }

  .picture {
    padding: 0px;
  }
}
